/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* type selector */
p {
  font-size: 18px;
  margin: 5px 20px 5px 20px;
}
/* class selector */
.highlight {
  background-color: #1a1a1a;
}
/* id selector */
#header {
  background-color: #2c2c2c;
}
input [type="text"] {
  border: 1px solid black;
}
/* descendent selector */
article p {
  margin: 10px;
  background-color: #1a1a1a;
  padding: 0;
}
/* child selector */
div > p {
  background-color: #992828;
}
a:hover {
  background-color: green;
  margin: 10px;
  padding: 10px;
}
p::first-letter {
  font-size: 40px;
  font-weight: bold;
  color: white;
  fo
}
